.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
data/raw/
data/processed/
data/predictions/
data/labels/
data/reference/
data/retrain/
artifacts/
mlruns/
mlflow.db
mlartifacts/
.env
*.egg-info/
mlflow_data/
